version: '3.1'

services:
  pudelekfeed:
    build:
      context: ./pudelekfeed
    environment:
      ENVIRONMENT: DEV
    restart: on-failure
    depends_on:
      - rabbitmq

  wykopproducer:
    build:
      context: ./wykopproducer
    environment:
      ENVIRONMENT: DEV
    restart: on-failure

  rabbitmq:
    build:
      context: ./rabbitmq
      dockerfile: Dockerfile
    ports:
      - "15672:15672"
      - "5672:5672"
      - "5671:5671"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:15672"]
      interval: 30s
      timeout: 10s
      retries: 5