version: '3.1'

services:
  pudelekfeed:
    build:
      context: ./pudelekfeed
    environment:
      ENVIRONMENT: DEV
    restart: on-failure
    depends_on:
      - rabbitmq

  rabbitmq:
    build:
      context: ./rabbitmq
      dockerfile: Dockerfile
    ports:
      - "15672:15672"
      - "5672:5672"
      - "5671:5671"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:15672"]
      interval: 30s
      timeout: 10s
      retries: 5

  db:
    build:
      context: ./postgres
      dockerfile: Dockerfile
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: pudelekfeed
    ports:
      - "5432:5432"

  adminer:
    image: adminer
    restart: always
    ports:
      - "8888:8080"
